body{
    font-family: Arial, sans-serif; 
    letter-spacing: 0.05em; 
    background-color: rgb(71, 50, 39);
}
.box{
    background-color: rgb(123, 102, 73);
    width: 1400px;
    margin: 15px auto;
    padding: 25px;
    border-radius: 20px;
}
.date{
    color: rgb(52, 59, 103);
}
.content{
    border: solid 1px rgb(98, 26, 26);
    padding: 20px;
    margin-top: 10px;
}
.pic{
    text-align: center;
}
.pic > img{
    width: 600px;
}

#main_menu{
    padding-left: 0px;
    list-style: none;
}
#main_menu li{
    display: inline-block;
}
#main_menu li a{
    font-family: Arial, sans-serif; 
    letter-spacing: 0.05em; 
    text-decoration: none;
    font-size: large;
    color: rgb(232, 223, 217);
    padding: 5px 25px;
    display: block;
}
#main_menu li a:hover{
    font-family: Arial, sans-serif; 
    letter-spacing: 0.05em; 
    color: rgb(231, 212, 212);
}